body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 10px solid black;
}

#controller-info {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.square {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
 }
 

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100000px;
    height: 100000px;
   }
   
